/* Add styling to body of game.html*/


html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    display: block;
  }
  
  body{
    background: #000;
    text-align: center;
  }
  


  .star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
  }


/* Hyperspace animation and styling */



.wall{
  background: url('/assets/images/space.jpg') ;
  background-size: cover;

}



.scene{
    display: inline-block;
    vertical-align: middle;
    perspective: 5px;
    perspective-origin: 50% 50%;
    position: relative;
    margin: 24% 48%;
  }
  
  .wrap{
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: -500px;
    top: -500px;
    transform-style: preserve-3d;
    animation: move 10s ;
    animation-fill-mode: forwards;
    z-index: 2;
    
  }
  
  .wrap:nth-child(2){
    animation: move 10s ;
    animation-delay: 1s;
  }
  
  .wall {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: fade 6s ;
    animation-delay: 2s;
    z-index: 3;
  }
  
  .wrap:nth-child(2) .wall {
    animation-delay: 1s;
  }
  
  .wall-right {
    transform: rotateY(90deg) translateZ(500px);
  }
  
  .wall-left {
    transform: rotateY(-90deg) translateZ(500px);
  }
  
  .wall-top {
    transform: rotateX(90deg) translateZ(500px);
  }
  
  .wall-bottom {
    transform: rotateX(-90deg) translateZ(500px);
  }
  
  .wall-back {
    transform: rotateX(180deg) translateZ(500px);
  }
  
  @keyframes move {
    0%{
      transform: translateZ(-500px) rotate(0deg);
    }
    100%{
      transform: translateZ(500px) rotate(0deg);
    }
  }
  
  @keyframes fade {
    0%{
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }

  /*----------game layout--------------*/

  .game-area {
    background-color: rgb(75, 213, 238);
    box-sizing: border-box;
    width: 85%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    position: relative;
  
  }

  

button {
  border-radius: 50%;
  padding: 2%;
  font-size: 200%;
  background-size: cover;
  border-color: sienna;
}

button:hover {
  background-color: rgba(147, 212, 119, 0.5);
}

.btn-rock {
  background-image: url('/assets/images/rock.jpg');
  border: rgb(143, 122, 122) 4px solid;
}

.btn-paper {
  background-image: url('/assets/images/paper.jpg');
  border: blue 4px solid;

}

.btn-scissors {
  background-image: url('/assets/images/scissors.jpg');
  border: yellow 4px solid;

}

.btn-lizard {
  background-image: url('/assets/images/lizard.jpg');
  border: green 4px solid;

}

.btn-spock {
  background-image: url('/assets/images/spock.jpg');
  border: rgb(135, 163, 235) 4px solid;

}

.rules-btn {
  display: block;
}


  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  