/* Add styling to body of game.html */
html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  display: block;
}
  
body{
  background: #000;
  text-align: center;
  font-size: calc(15px + 0.390625vw);
  font-family: 'Russo One', sans-serif;
  color: white;
}
  
/* Set the stars with java script function */
.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
}

/* Icon styling for back to index.html button */
i.fa-solid.fa-backward {
  position: absolute;
  z-index: 4;
  margin-top: 2%;
  margin-left: 1%;
  font-size: 150%;
  left: 0;
}

/* Game layout */
#welcome-to{
  font-size: 30px;
  color: #e6c54d;  
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 50px auto;
  width: fit-content;
}

#game_name {
  background-color: rgb(75, 213, 238);
  width: 97%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 5px;
}

h1{
  margin-top: 2px;
  font-size: 225%;
  margin-bottom: 10px;
  color: black;
}

h2 {
  height: 48px;
  font-size: 36px;
  color: white;
  color:  #e6c54d;
}

/* Styling for the main area of the game*/
main {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;   
  margin: 2% auto;
  color: black;    
}

h3{
  font-size: 46px;
  color:rgb(75, 213, 238);
  padding: 20px;
}

/* Inline containers for computer and user choice */
.game-container {
  background-color: rgb(75, 213, 238);
  border-radius: 20px;
  padding: 0px;
  margin: 10px;
  font-size: 32px;
  width: 100%;
  height: fit-content;
}

.choice-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  height: 100px;
  padding: 10px;
}

.emoji {
  font-size: 60px;
  margin-top: 40px;
}

/* Styling of the button to show game result*/
#game-result-message {
  background-color: rgb(75, 213, 238);
  width: 94%;
  margin: 2% auto;
  border-radius: 20px;
  padding: 20px;
  color: black;
  height: 25px;
}
  
.score {
  width: 97%;
  height: 80px;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 20px;
  color: #e6c54d;
  display: inline-flex;
  justify-content: space-around;
}  

.score h2 {
  font-size: 25px;
  margin: 0;
}

p.c-count.count {
  margin: 0;
}

p.p-count.count {
  margin: 0;
}

/* Moda styling */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: rgb(75, 213, 238);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 50px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h3 {
  color: black;
  font-size: 25px;
  margin-top: 5px;
}
  
.modal-content p {
  color: black;
  text-transform: uppercase;
}  

/* Modal button */
#myBtn {
  margin: 20px 15px;
  background-color: #e6c54d;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Russo One', sans-serif;
  position: absolute;
  right: 0;
}

/* Styling for the conteiner with number of moves left before game ends */
.movesleft {
  color: rgb(75, 213, 238);
  letter-spacing: 2px;
}

#moves-l {
  width: 97%;
}

button#next-round {
  background-color: #e6c54d;
  font-weight: 800;
  padding: 10px;
  border-radius: 20px;
  font-size: inherit;
}

/* Media queries for smaller screen responsivnes */
@media only screen and (max-width: 1000px) {
.choice-container {gap: 0; height: 100px; padding: 10px;}
}

/* Media queries for smaller screen responsivnes */
@media only screen and (max-width: 650px) {
body {font-size: 15px;}
#myBtn {margin: 5px 5px; padding-block: 2px;}
#welcome-to {font-size: 20px; letter-spacing: 0; margin-top: 20%; margin: 80px auto;}
h1 {font-size: 100%; }
.emoji {font-size: inherit; margin-top: 0; display: contents;}
.choice-container {display: block; }
.game-container {font-size: 20px;}
button#next-round {font-size: 20px; padding: 8px;}
.score h2 {font-size: 20px;}
h2 {height: 30px;}
.score {margin: 50px auto;}
h3 {font-size: 20px; padding: 10px; margin-top: 20%;}
#game-result-message {width: auto;}
#game_name {padding: 10px;}
}

/* Media queries for smaller screen responsivnes */
@media only screen and (max-width: 350px) {
  button#next-round {font-size: 16px; padding: 2px;}  
  .score h2 {font-size: 15px;}
  .choice-container {display: table-row-group;}
  #welcome-to {margin: 40px auto;}
  main {margin: 5% auto;}
  .game-container {font-size: 16px; padding-top: 10px;}
  .modal-content p  {margin-block-start: 0; margin-block-end: 0;}
  #playbutton_player {margin-right: 0;}
  .close {font: 30px;}
  #game-result-message {height: 5px;}
}
  
/* Media queries for bigger screen responsivnes */
@media only screen and (min-width: 1400px) {
  #welcome-to {margin: 100px auto;}
}
  
  
  
  
  
  
  
  
  
  
  
  