/* --------- Global style */

/*body {
    font-family: "RussoOne", sans-serif;
    color: #445361;
    text-align: center;
    background-image: url("../images/galaxy\ background.webp");
}

/* --------- Heading */

/*.heading {
    text-align: center;
    font-size: 2.5rem;
    color:#fdcf52;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* --------- Game layout */
html {
    font-size: calc(15px + 0.390625vw);
}

body {
    margin: 0;
    background-color: black;
  }
  
  .star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
  }
  
  /* Set the animation, color, size and hide the text */
  .intro {
      position: absolute;
      top: 30%;
      left: 35%;
      z-index: 1;
      animation: intro 6s ease-out 1s;
      color: rgb(75, 213, 238);
      font-weight: 400;
      font-size: 2rem;
      opacity: 0;
  }
  
  @keyframes intro {
      0% {
          opacity: 0;
      }
      20% {
          opacity: 1;
      }
      90% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }
  
  /* Set the animation & hide the logo */
  .logo {    
      position: absolute;
      top: 20%;
      left: 45%;
      z-index: 1;
      margin: auto;
      animation:  ease-out 25s;
      opacity: 0;
  }
  
  .logo svg {
      width: inherit;
  }
  
  /* Scale the logo down and maintain it centered */
  @keyframes logo {
      0% {
          width: 18em;        
          transform: scale(2.75);
          opacity: 1;
      }
      50% {
          opacity: 1;
          width: 18em;      
      }
      100% {
          opacity: 0;
          transform: scale(0.1);
          width: 18em;
      }
  }
  
  p {
    color: #e6c54d;
  }
  
  /* Set the font, lean the board, position it */
  #board {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 1.8rem;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
  }
  
  #board:after {    
    position: absolute;
    content: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
  }
  
  /* Set the scrolling animation and position it */
  #content {
    animation: scroll 10s linear 16s;
    position: absolute;
    top: 100%;
  }
  
  #title, #subtitle {
    text-align: center;
  }
  
  @keyframes scroll {
      0% {
          top: 100%;
      }
      100% {
          top: -170%;
      }
  }

  /* Set the styling for the START button */

  .button {
    border: none;
    color: white;
    padding: 15px 60px;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #e6c54d;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  /* Add styling to game.html page */
  .game {
    background-color: aqua;
  }