/* Global style */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: black;
    font-family: 'Russo One', sans-serif;
    font-size: calc(15px + 0.390625vw);
    color: white;
    overflow: hidden;

  }
  
  .star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
  }

/* Game Over styling */
.container {
    margin: 0 auto;
    width: 760px;
    height: 896px;
    position: relative;
    overflow: hidden;
}

h1#_gover {
    
    font-size: 40px;
    position: absolute;
    top: 8%;
    right: 22%;
    z-index: 10;
    color: #E44141;
  }