/* Global style */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: black;
    font-family: 'Russo One', sans-serif;
    font-size: calc(15px + 0.390625vw);
    color: white;
    overflow: hidden;

  }
  
  .star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
    z-index: 1;
  }

/* Game Over styling */
.container {
    margin: 0 auto;
    width: 760px;
    height: 896px;
    position: relative;
    overflow: hidden;
}

h1#_gover {
    
    font-size: 40px;
    position: absolute;
    top: 8%;
    right: 22%;
    z-index: 3;
    color: #E44141;
  }



  #you-won {
    color: white;
    font-size: 25px;
    position: absolute;
    z-index: 3;
  }

  /* Congratulations confetti from Codehim*/

  .confetti{
    height: 640px;
    width: 100%;
    display: block;
    margin: 0 auto;
    user-select: none;
    position: absolute;
    z-index: 2;
 }

 #you-won {
    color: white;
    font-size: 25px;
    position: absolute;
    z-index: 3;
}


/* Congratulations header styling and zoom in animation */
  #congrats {
  display: block;
  color: #e6c54d;
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
  font-size: xxx-large;
  letter-spacing: 2px;

  animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */

  }

  .animate__animated.animate__zoomIn {
    --animate-duration: 2s;
  }

  